{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title %}Add review - {{ block.super }}{% endblock %}

{% block main %}
    <section id="hero">
        <div class="hero-container">
            <div class="card  col-6 md-2" style="text-align: left; margin-top: 40px; width: 600px; padding: 15px; background-color: rgb(241, 241, 210);">
                <div class="cardbody">
                    <p class="head" style="color: orangered; text-align: center;"><strong>Add Review</strong></p>
                    <form action="{% url 'add_review' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary bg-dark" style="float: right; margin-top: 10px;">Add review</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
{% endblock %}




