{% extends 'index.html' %}

{% block title %}Password Reset Done - {{ block.super }}{% endblock %}

{% block main %}
<section id="hero">
    <div class="hero-container">
        <div class="card  col-6 md-2" style="text-align: left; margin-top: 40px; width: 600px; padding: 15px; background-color: rgb(241, 241, 210);">
            <div class="cardbody">
                <h3 class="card-title" style="color: orange; text-align: center;"><strong>Reset your password</strong></h3>
                <p class="text" style="text-align: center; color: rgb(80, 100, 52);"><strong>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</strong></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
{% endblock %}